<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'like:index' %}">Home</a>
</li>
{% if message %}
 {% for m in messages %}
 <div class="alert alert-{{messages.tag}}">{{m}}</div>
 {% endfor %}
{% endif %} 

{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'like:create' %}">사진 올리기</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'account:logout' %}">{{user}}님 Logout</a>
</li>
{% else %}
<li>
  <a class="dropdown-item" href="{% url 'account:login' %}">Login</a>
</li>
{% endif %}
<p>로그아웃 되었습니다.</p>
<a href="{% url 'account:login' %}">로그인하기</a>