{% extends 'like_base.html' %}
{% load static %}
{% block content %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <style>
    .heart {
      width:20px;
      height:20px;
    }
  </style>
</head>
{% for post in object_list %}
<div class="flex_item">
  <img src="{{ post.image.url }}"alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.author }}님의 게시글</h5>
    <p class="card-text">{{ post.text }}</p>
  </div>
  <div class="card-body">
    <a href="{% url 'like:detail' post.id %}" class="card-link">댓글달기</a>
    {% if user == post.author %}
    <a href="{% url 'like:update' post.id %}" class="card-link">수정</a>
    <a href="{% url 'like:delete' post.id %}" class="card-link">삭제</a>
    {% endif %}
  </div>
  <div class="card-footer">
    <small class="text-muted">생성일 : {{ post.created }}</small><br>
    <small class="text-muted">수정일 : {{ post.updated }}</small>
  </div>
  {% if user.is_authenticated %}
  <button id="{{post.id}}" onclick="post_like(this.id)">
    {%if request.user in post.like.all%}
    <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
    <img class="heart" id="heart{{post.id}}" src="{% static 'heart.png' %}" alt="full_heart">
    {%else%}
    <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
    <img class="heart" id="heart{{post.id}}" src="{% static 'empty_heart.png' %}" alt="empty_heart">
    {%endif%}
    <span class="heart" id="like_count{{post.id}}">{{post.like.count}}</span>
  </button>
  {% else %}
  <button id="{{post.id}}" onclick="alert('로그인이 필요합니다')">
    <img class="heart" id="heart" src="{% static 'empty_heart.png' %}" alt="empty_heart">
    <span id="like_count">{{post.like.count}}</span>
  </button>
  {% endif %}  
</div>
<script type="text/javascript">
  function post_like(p_id) {
    $.ajax({
      type: "GET",
      url: "{% url 'like:post_likes' %}", // data를 전송할 url 입니다.
      data: {
        'blog_id': p_id
      }, // post_id 라는 name으로 id 값 전송
      dataType: "json",
      success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
        $('#like_count'+p_id).html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
        //$('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
        //$('.toast').fadeIn(400).delay(100).fadeOut(400)
          if (response.message == "좋아요")
        //좋아요 눌렀을 때 
        {
          $('#heart'+p_id).attr("src", "{% static 'heart.png' %}")
        } else if (response.message == "좋아요 취소")
        //좋아요 상태에서 다시 눌렀을 때 
        {
          $('#heart'+p_id).attr("src", "{% static 'empty_heart.png' %}")
        }
      }
    })
  }
  </script>
  {% endfor %}  

{% endblock %}
